{% load static %}

<head>
    <link rel="stylesheet" href={% static 'nav.css' %}>
    <script>
        function openNav() {
            document.getElementById("side-bar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("side-bar").style.width = "0";
        }
    </script>
</head>

<body>
    <header class="nav">
        <div class="start">
            <img class="logo" src={% static 'logo.png' %} alt="Logo" />
        </div>
        <div class="middle">
            <span class="title">University Institute of Engineering & Technology</span>
            <br />
            <span class="subtitle">Maharshi Dayanand University, Rohtak, Haryana(124001)</span>
        </div>
        <div class="end">
            <a href="/profile">
                <img class="pointer profile" src={% static 'profile.png' %} alt="Profile">
            </a>
            <span class="side-bar-open" onClick="openNav()">
                &#9776;
            </span>
        </div>
    </header>

    <div id="side-bar" class="side-bar">
        <label class="side-bar-close" onClick="closeNav()">
            &times;
        </label>
        <div class="side-bar-profile">
            <img class="side-bar-logo" src={% static 'logo.png' %} alt="Logo" />
        </div>
    </div>
</body>