{% load static %}

<head>
    <link rel="stylesheet" href={% static 'nav_footer.css' %}>
    <script>
        function openNav() {
            document.getElementById("side-bar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("side-bar").style.width = "0";
        }
    </script>
</head>

<body>
    <header class="nav">
        <div class="start">
            <a href="/">
                <img class="logo" src={% static 'logo.png' %} alt="Logo" />
            </a>
        </div>
        <div class="middle">
            <span class="title_mobile">UIET</span>
            <span class="title">University Institute of Engineering & Technology</span>
            <br />
            <span class="subtitle">Maharshi Dayanand University, Rohtak, Haryana(124001)</span>
        </div>
        <div class="end">
            <a href="/">
                <img class="pointer tab" src={% static 'home.png' %} alt="Profile">
            </a>
            <a href="/account/profile">
                <img class="pointer tab" src={% static 'profile.png' %} alt="Profile">
            </a>
            <span class="side-bar-open" onClick="openNav()">
                &#9776;
            </span>
        </div>
    </header>

    <div id="side-bar" class="side-bar">
        <label class="side-bar-close" onClick="closeNav()">
            &times;
        </label>
        <div class="side-bar-profile">
            <img class="side-bar-logo" src={% static 'logo.png' %} alt="Logo" />
            <br>
            <br>
            <br>
            <a href="/">
                <button style="font-size: large; width: 250px; background-color: white;color: black;">Home</button>
            </a>
            <br>
            <br>
            <a href="/account/profile/">
                <button style="font-size: large; width: 250px; background-color: white; color: black;">Profile</button>
            </a>
            <br>
            <br>
            <a href="/auth/logout/">
                <button style="font-size: large; width: 250px; background-color: white; color: black;">Logout</button>
            </a>
        </div>
    </div>
</body>