<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate account | UIET</title>
    <style>
        html {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h3 {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <center>
        <h3>A password reset request has sent to your registered email address.</h3>
        <p>Note:- for security reasons , you have to set a new password at first time login</p>
        <a href="/">Login</a>
    </center>
</body>

</html>