{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .logout-button {
        background-color: #FFCD29;
    }
</style>
<div class="profile">
    <br>
    <br>
    <br>
    <div class="user_data">
        <center>
            <h1>{{request.user.username}}</h1>
            <h1>{{request.user.last_login}}</h1>
        </center>
    </div>
    <br>
    <br>
    <center>
        <a style="background-color:coral;" href="/auth/logout/">
            <button class="logout-button">
                Logout
            </button>
        </a>
    </center>
</div>
{% endblock %}