{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block head %}
<title>Home | UIET</title>
<style>
    @media only screen and (max-width: 900px) {
        .tabs {
            width: 100% !important;
        }

        .tab {
            text-align: center;
            margin-top: 20%;
        }
    }

    @media only screen and (min-width: 900px) {
        .tabs {
            margin: 0 auto 0 auto;
            width: 30%;
            display: grid;
            grid-template-columns: auto auto;
        }

        .tab {
            text-align: center;
            margin-top: 200px;
        }
    }

    .director-btn {
        display: inline-block;
        padding: 11px 25px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        white-space: nowrap;
        -webkit-transition: .5s;
        transition: .5s;
        color: #fff;

    }

    .applications-btn {
        background-color: #567aed;
    }

    .history-btn {
        background-color: #FF6A6A;
    }

    .applications-btn:hover {
        box-shadow: 0 3px 11px #3d7fea;
    }

    .history-btn:hover {
        box-shadow: 0 3px 11px #f15454;
    }
</style>
{% endblock %}


<div class="director">
    {% if  request.user.is_staff %}
    <div class="tabs">
        <div class="tab">
            <a href="/applications/">
                <button class="applications-btn director-btn">
                    Applications
                </button>
            </a>
        </div>
        <div class="tab">
            <a href="/applications/staff_history/">
                <button class="history-btn director-btn">
                    History
                </button>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}