{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href={% static 'table.css' %}>
</head>
<div class="history">
    {% include 'partitions/page_header.html' %}
    <div class="table">
        <div class="header">
            <b>History</b>
        </div>
        <div class="body">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Reason</th>
                        <th>Days</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Station leave</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{application.type.leave_name}}</td>
                        <td>{{application.reason}}</td>
                        <td>{{application.days}}</td>
                        <td>{{application.date_from}}</td>
                        <td>{{application.date_to}}</td>
                        <td>
                            {% if application.station_leave %}
                            ✅
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        <td>
                            {% if application.status == "Approved" %}
                            ✅
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        <td><a href="/applications/{{application.trace_id}}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}