{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block head %}
<title>Account | UIET</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .container {
        max-width: 800px;
        margin: 15px auto;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: left;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .info-item {
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    .info-label {
        color: #999;
    }

    .logout-button {
        background-color: rgba(239, 100, 0, 0.884);
        box-sizing: border-box;
    }

    .logout-button:hover {
        background-color: rgba(220, 92, 0, 0.93);
    }
</style>
{% endblock %}


{% include 'partitions/page_header.html' %}
<div class="profile">
    <br>
    <br>
    <center>
        <div class="user_data">
            <h2>Account details</h2>
            {% if account %}
            <div class="container">
                <div class="info">
                    <div class="info-item">
                        <label class="info-label">Name:</label>
                        <div>{{account.title}} {{account.name}}</div>
                    </div>
                    <div class="info-item">
                        <label class="info-label">Gender:</label>
                        <div>{{account.gender}}</div>
                    </div>
                    <div class="info-item">
                        <label class="info-label">Phone:</label>
                        <div>{{account.phone}}</div>
                    </div>
                    <div class="info-item">
                        <label class="info-label">Branch:</label>
                        <div>{{account.branch}}</div>
                    </div>
                    <div class="info-item">
                        <label class="info-label">Designation:</label>
                        <div>{{account.designation}}</div>
                    </div>
                </div>
            </div>
            {% else %}
            <h1>{{request.user.username}}</h1>
            {% endif %}
        </div>
        <br>
        <br>
        <i>Last login: {{request.user.last_login}}</i>
        <br>
        <br>
        <a href="/auth/logout/">
            <button class="logout-button">
                Logout
            </button>
        </a>
    </center>
</div>
{% endblock %}