{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block head %}
<title>Account | UIET</title>
<style>
    .account {
        width: 70%;
        box-shadow: -1px 2px 6px 0px rgba(100, 100, 100, 0.2);
        padding: 15px;
        border-radius: 15px;
    }

    .account ._data {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        margin: 30px;
    }

    .logout-button {
        background-color: rgba(239, 100, 0, 0.884);
        box-sizing: border-box;
    }

    .logout-button:hover {
        background-color: rgba(220, 92, 0, 0.93);
    }
</style>
{% endblock %}


{% include 'partitions/page_header.html' %}
<div class="profile">
    <br>
    <br>
    <center>
        <div class="user_data">
            <h2>Account details</h2>
            {% if account %}
            <div class="account">
                <div class="_data">
                    <label>Name</label>
                    <span>:-</span>
                    <label>{{account.title}}{{account.name}}</label>
                </div>
                <div class="_data">
                    <label>Branch</label>
                    <span>:-</span>
                    <label>{{account.branch}}</label>
                </div>
                <div class="_data">
                    <label>Designation</label>
                    <span>:-</span>
                    <label>{{account.designation}}</label>
                </div>
                <div class="_data">
                    <label>Mobile no.</label>
                    <span>:-</span>
                    <label>{{account.phone}}</label>
                </div>
                <div class="_data">
                    <label>Uuid</label>
                    <span>:-</span>
                    <label>{{account.uuid}}</label>
                </div>
            </div>
            {% else %}
            <h1>{{request.user.username}}</h1>
            {% endif %}
        </div>
        <br>
        <br>
        <i>Last login: {{request.user.last_login}}</i>
        <br>
        <br>
        <a href="/auth/logout/">
            <button class="logout-button">
                Logout
            </button>
        </a>
    </center>
</div>
{% endblock %}