{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div class="main shifted" id="main">

        <div class="content">



            <!-- Content -->
            <div id="content" class="colM" style="margin-top: 150px;">

                <h1>Password reset complete</h1>
                <p>Your password has been set. You may go ahead and log in now to Uiet management portal.</p>

                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
        </div>
    </div>
</center>
{% endblock %}