{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block head %}
<title>Super admin | UIET</title>
<style>
    .tabs {
        width: 100% !important;
    }

    .tab {
        text-align: center;
        margin-top: 8%;
    }

    .superadmin-btn {
        width: 150px;
        height: 100px;
        font-size: 17px;
        font-weight: bold;
    }

    .register-btn {
        color: black;
        background-color: #AFF4C6;
    }

    .admin-btn {
        background-color: #FF6A6A;
    }

    .report-btn {
        background-color: #0D99FF;
    }

    .backup-btn {
        color: black;
        background-color: #E6E6E6;
    }

    .superadmin-btn:hover {
        transition-duration: .1s;
        font-size: 15px;
    }
</style>
{% endblock %}

<div class="superadmin">
    {% if  request.user.is_superuser %}
    <div class="tabs">
        <div class="tab">
            <a href="/superadmin/register/">
                <button class="superadmin-btn register-btn">
                    Register
                </button>
            </a>
        </div>
        <div class="tab">
            <a href="/admin">
                <button class="superadmin-btn admin-btn">
                    Admin
                </button>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}