{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .status-button {
        height: 20px;
        height: 50px;
        cursor: pointer;
    }

    @media only screen and (min-width: 900px) {
        .leave_data {
            width: 50% !important;
            font-size: 15px !important;
        }
    }



    .leave_data {
        padding: 15px;
        width: 90%;
        margin-top: 10px;
        border: 1px solid gray;
        border-style: dashed;
        display: grid;
        grid-template-columns: auto auto;
        font-size: 12px;
    }

    ._data {
        display: grid;
        grid-template-columns: 40% 5% 55%;
    }

    ._data b {
        margin: 8px;
    }

    .cancel-btn {
        background-color: #FFA629;
    }

    @media only screen and (min-width: 900px) {
        .application-card {
            width: 40%;
        }
    }

    .application-card {
        margin: 0 auto 0 auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: -1px 2px 6px 0px rgba(100, 100, 100, 0.2);
    }

    .top-body,
    .card-body,
    .bottom-body {
        padding: 8px;
    }

    .application-card .top-body {
        font-size: larger;
        border-bottom: 1px solid black;
        text-align: start;
        display: flex;
    }

    #application-traceid {
        text-decoration: underline;
    }

    .application-type {
        margin-top: 2px;
    }

    .application-status {
        margin-left: auto;
    }

    .card-body {
        text-align: start;
    }

    .card-item {
        padding: 20px 15px 15px 35px;
        display: grid;
        grid-template-columns: 30% 15% 55%;
    }

    .card-extra-body {
        text-align: end;
        font-size: 10px;
        padding: 4px;
    }
</style>
<div class="application-view">
    <b class="pointer" style="font-size: 30px;" onClick="javascript:history.go(-1);">&#8592;</b>


    <div class="application-card">
        <div class="top-body">
            <div class="application-type">
                <b>{{application.type.leave_name}}</b>
            </div>
            <div class="application-status">
                <b>
                    {% if application.status == 'Pending' %}
                    ...
                    {% elif application.status == 'Approved' %}
                    ✅
                    {% else %}
                    ❌
                    {% endif %}
                </b>
            </div>
        </div>
        <div class="card-body">
            <center>
                <label id="application-traceid">TraceId #{{application.trace_id}}</label>
            </center>
            <div class="card-item">
                <div class="item-1">Name</div>
                <div class="item-2">:-</div>
                <div class="item-3"><a href="{{application.uuid.uuid}}">{{application.uuid.title}}
                        {{application.uuid.name}}</a></div>
            </div>
            <div class="card-item">
                <div class="item-1">Applied on</div>
                <div class="item-2">:-</div>
                <div class="item-3">{{application.created_on}}</div>
            </div>
            <div class="card-item">
                <div class="item-1">No. of Days</div>
                <div class="item-2">:-</div>
                <div class="item-3">{{application.days}}</div>
            </div>
            <div class="card-item">
                <div class="item-1">Date</div>
                <div class="item-2">:-</div>
                <div class="item-3">{{application.date_from}} - {{application.date_to}}
                    ({% if application.uuid.designation == 'Non-Teaching' %}{{application.time_period}}{% endif %})
                </div>
            </div>
            <div class="card-item">
                <div class="item-1">Station Leave</div>
                <div class="item-2">:-</div>
                <div class="item-3">{% if application.station_leave %}
                    ✅
                    {% else %}
                    ❌
                    {% endif %}</div>
            </div>
            <div class="card-item">
                <div class="item-1">Reason</div>
                <div class="item-2">:-</div>
                <div class="item-3"><textarea rows="5" cols="30" disabled readonly>{{application.reason}}</textarea>
                </div>
            </div>
        </div>
        <div class="bottom-body">
            <!-- buttons -->

            {% if application.status == 'Pending' %}

            {% if request.user.is_staff %}
            <div id="status-button">
                <img onclick="update('approve')" class="status-button" src={% static 'approve.png' %} alt="aprrove">
                <img onclick="update('reject')" class="status-button" src={% static 'reject.png' %} alt="reject">
            </div>
            {% elif not request.user.is_superuser %}

            <!-- cancel button if user eligible for cancel -->
            {% if eligible_cancel %}
            <div id="status-button">
                <button class="cancel-btn" onclick="onhandleCancel()">Cancel</button>
            </div>
            {% endif %}

            {% endif %}
            {% endif %}

            <!-- buttons -->
        </div>

        <div class="card-extra-body">
            updated on :- {{application.updated_on}}
        </div>
    </div>
    <!-- message -->
    {% for message in messages %}
    <div class="alert">
        {{message}}
    </div>
    {% endfor %}
    <!-- message -->
</div>

<!-- for user only script -->
{% if not request.user.is_staff %}
{% if not request.user.is_superuser %}
<script>
    function onhandleCancel(status) {
        let csrftoken = getCookie('csrftoken');
        fetch("cancel/", {
            method: 'POST',
            body: "",
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json',
                "X-CSRFToken": csrftoken
            },
        }).then(() => {
            window.location.reload()
        })
    }
</script>
{% endif %}
{% endif %}
<!-- for user only script -->

<!-- for staff only script -->
{% if request.user.is_staff %}
<script>
    function update(status) {
        let csrftoken = getCookie('csrftoken');
        document.getElementById('status-button').hidden = true
        fetch(status + "/", {
            method: 'POST',
            body: "",
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json',
                "X-CSRFToken": csrftoken
            },
        }).then(() => {
            window.location.reload()
        })
    }
</script>
{% endif %}
<!-- for staff only script -->

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}