{% extends 'mail_base.html' %}
{% block email_body %}
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="570" cellpadding="0" cellspacing="0">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                            role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Dear sir,</h1>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <strong>{{ application.uuid.title }}
                                                {{ application.uuid.name }}</strong> has
                                            applied
                                            for leave <strong> {{ application.type.leave_name }}</strong>
                                            {%if application.station_leave %}
                                            with station leave
                                            {%endif%}

                                            dated
                                            {% if application.date_from != application.date_to %}
                                            from
                                            {%endif%}
                                            <strong>{{ application.date_from }} </strong>

                                            {% if application.date_from != application.date_to %}
                                            to
                                            <strong>{{ application.date_to }}</strong>

                                            {% endif %}
                                            {% if application.days < 1 %}
                                            ( {{application.time_period}} )
                                            {% else %}
                                            ( no. of days {{application.days}} )
                                            {% endif %}

                                            {% if not application.reason == "" %}
                                            for reason {{ application.reason }}
                                            {% endif %}
                                            . </p>

                                        <p>Thanks,
                                            <br>Uiet, Rohtak</p>

                                        <center>Click here to view application {{link}}</center>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}