{% load static %}
{% block content %}
<style>
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .note {
        background-color: tomato;
        color: aliceblue;
        font-weight: normal !important;
        padding: 2px;
    }
</style>
<div class="">
    <center>
        <br>
        <br>
        <h3 style="margin: 2px 0 0 0;"><strong>🎉Congratulation! You have successfully registered to UIET
                portal</strong></h3>
        <label>uuid <strong>{{uuid}}</strong> & username <strong>{{username}}</strong></label>
        <br>
        <br>
        <strong class="note">Note:- You need to set a new password -> {{reset_pass}}</strong>
        <p>
            © 2023 Uiet Rohtak. All rights reserved.
        </p>
    </center>
</div>

{% endblock %}