{% load static %}

<head>
    <style>
        button {
            background-color: #6c7ae0;
        }
    </style>

    <link rel="stylesheet" href={%static 'base.css' %}>
</head>
<div style="margin-top:300px;">
    {% if form %}
    <form method="post">
        {% csrf_token  %}
        <center>
            New password:{{form.new_password1}}
            <br>
            {% if form.new_password1.errors %}
            <div class="alert">
                <strong>{{form.new_password1.errors}}</strong>
            </div>
            {% endif %}

            Confirm password:{{form.new_password2}}
            <br>
            {% if form.new_password2.errors %}
            <div class="alert">
                <strong>{{form.new_password2.errors}}</strong>
            </div>
            {% endif %}
            <br>
            <button type="submit">Set Password</button>
        </center>
    </form>
    {% else %}
    <center>
        <h1>
            The link you followed has expired!
        </h1>
    </center>
    {% endif %}
</div>